registry="https://registry.npmmirror.com/"
electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"
sentrycli_cdnurl="https://cdn.npmmirror.com/binaries/sentry-cli"
shamefully-hoist=true