# Generated requirements from built packages
astronverse-actionlib
astronverse-ai
astronverse-baseline
astronverse-browser
astronverse-browser-bridge
astronverse-browser-plugin
astronverse-cua
astronverse-dataprocess
astronverse-datatable
astronverse-dialog
astronverse-email
astronverse-encrypt
astronverse-enterprise
astronverse-excel
astronverse-executor
astronverse-hello
astronverse-input
astronverse-locator
astronverse-network
astronverse-openapi
astronverse-pdf
astronverse-picker
astronverse-report
astronverse-scheduler
astronverse-script
astronverse-smart
astronverse-software
astronverse-system
astronverse-translate
astronverse-trigger
astronverse-verifycode
astronverse-vision
astronverse-vision-picker
astronverse-websocket-client
astronverse-websocket-server
astronverse-window
astronverse-winelement
astronverse-word
astronverse-workflowlib
